data-grid {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: -webkit-fit-content;
    color: #5a5a5a;
}

data-grid, data-grid-header, data-grid-body, data-grid-footer, row {
    display: flex;
}

cell {
    display: block;
}

data-grid-body {
    display: flex;
    flex: 1;
    -webkit-flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;

    .virtual-white-space {
        min-width: 100%;
    }

    // Zebra striping
    row:nth-of-type(even) {
        background: #fff;
    }

    row:nth-of-type(odd) {
        background: #f8f8f8;
    }

    row {
        border-top: 1px solid #f1f1f1;
        padding: 3px 0;
    }

    cell:nth-of-type(1) {
        padding-left: 3px;
    }
}

data-grid-body::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    height: 6px;
}

data-grid-body::-webkit-scrollbar-thumb {
    background-color: #c6c6c6;
    border-radius: 0;
    border: none;
}

data-grid-body::scrollbar-track {
    background-color: #ececec;
    border-radius: 0;
}

data-grid-header, data-grid-footer {
    width: 100%;
    padding-right: 6px; /* scrollbar width, TODO */
    background-color: #52abe1 !important;
    color: #fff;
}

data-grid-header {
    cell {
        font-weight: bold;
        cursor: pointer;

        &.sort-column:after {
            display: inline-flex;
            font-size: 80%;
            line-height: 100%;
        }

        &.sort-column.sort-descending:after {
            content: '\25bc';
        }

        &.sort-column:not(.sort-descending):after {
            content: '\25B2';
        }
    }
}

data-grid-footer {

}

row {
    flex-direction: row;
    flex-basis: 100%;
    flex-flow: row nowrap;
    width: 100%;
    min-width: 100%;
}

cell {
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 auto;
    width: 0;
}
